



/*Colors*/
.color-1 .chosen-container-multi .chosen-choices li.search-choice {
  background: #FF0000; }

.color-2 .chosen-container-multi .chosen-choices li.search-choice {
  background-color: #c7f0db; }

.color-3 .chosen-container-multi .chosen-choices li.search-choice {
  background-color: #d3f4ff; }
