/*
****** INDEX ******

****** 1.0 DEFINITIONS ******
*** COLOR DEFINITIONS
*** FONT DEFINITIONS
*** THEME DEFINITIONS

****** 2.0 MIXINS ******
*** HIGHLIGHTED / FOCUS

****** 3.0 PAGE LAYOUT ******
*** THENTIA LOGOS & ICONS


****** 4.0 COMPONENT STYLES ******
*** BUTTONS
*** TAGS / BADGES
*** TOASTS

****** 5.0 FORMS ******
*** ERROR / INVALID STATES

****** 6.0 UTILITY CLASSES ******


****** 6.0 MEDIA QUERIES ******

*/
.tc-register-icon {
  background-image: url("../img/platform-favicons/register_favicon_30px.png");
  width: 30px;
  height: 30px;
}

body {
  background: #FFFFFF;
  font: 400 16px/24px "Inter", sans-serif;
  color: #414141;
  text-align: left;
  overflow-x: hidden;
}

.tc-titlebar {
  background: #5C3768;
  height: 48px;
  border-bottom: 1px solid #DEDEDE;
}
.tc-titlebar .tc-logo-collapsed, .tc-titlebar .tc-system-menu {
  height: 47px;
}
.tc-titlebar .tc-logo-collapsed {
  background-color: #F7F7F7;
  padding: 9px 16px;
}
.tc-titlebar .tc-system-menu {
  padding: 0px 18px;
  background-color: #ECECEC;
  border: none;
}
.tc-titlebar .tc-system-menu:hover {
  background-color: #DEDEDE;
}
.tc-titlebar .tc-system-menu:hover .tc-icon {
  fill: #782B90;
}
.tc-titlebar .tc-system-menu:active {
  background-color: #C9C9C9;
}
.tc-titlebar .tc-breadcrumb-bar {
  padding: 0 8px;
  color: #FEFEFE;
}
.tc-titlebar .tc-breadcrumb-bar .tc-breadcrumb, .tc-titlebar .tc-breadcrumb-bar .btn.tc-breadcrumb {
  color: #C9C9C9;
  text-decoration: none;
  padding: 12px 8px;
  font: 500 14px/22px "Inter", sans-serif;
}
.tc-titlebar .tc-breadcrumb-bar .tc-breadcrumb:hover, .tc-titlebar .tc-breadcrumb-bar .btn.tc-breadcrumb:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.tc-titlebar .tc-breadcrumb-bar .tc-breadcrumb-current {
  vertical-align: middle;
  font: 500 14px/22px "Inter", sans-serif;
  padding: 8px;
}
.tc-titlebar #modules-button, .tc-titlebar #notifications-button, .tc-titlebar #user-button {
  padding: 8px 16px 12px;
  height: 47px;
}
.tc-titlebar #modules-button:hover, .tc-titlebar #notifications-button:hover, .tc-titlebar #user-button:hover {
  background-color: #782B90;
}
.tc-titlebar #modules-button .tc-icon, .tc-titlebar #notifications-button .tc-icon, .tc-titlebar #user-button .tc-icon {
  fill: #FFFFFF;
}
.tc-titlebar #modules-button.active {
  background-color: #FFFFFF;
}
.tc-titlebar #modules-button.active .tc-icon {
  fill: #414141;
}
.tc-titlebar .notifications-count {
  position: absolute;
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #D32F3F;
  color: #FFFFFF;
  font-size: 10px;
  bottom: 8px;
  right: 6px;
}
.tc-titlebar #user-button .tc-icon {
  width: 12px;
  height: 6px;
}
.tc-titlebar #user-button #user-initials {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: #FF0000;
  border-radius: 12px;
  font-size: 12px;
  padding: 3px;
  color: #FFFFFF;
  margin-right: 4px;
}

.tc-viewtoolbarcontainer {
  background: #F7F7F7;
  border-bottom: 1px solid #DEDEDE;
  padding: 0 24px;
}

.tc-flexcontainer {
  display: flex;
}

.tc-leftpane {
  width: 360px;
  background: #FAFAFA;
  border-right: 1px solid #ECECEC;
}

.tc-rightpane {
  padding: 40px 64px 128px 64px;
}

.tc-systray {
  position: fixed;
  bottom: 0;
  background-color: #FCFCFC;
  border-top: 1px solid #ECECEC;
}
.tc-systray .tc-systray-item {
  border-right: 1px solid #ECECEC;
  padding: 11px 16px;
}
.tc-systray .tc-systray-item .tc-icon {
  margin-left: 16px;
}
.tc-systray .tc-systray-item .tc-icon .cls-1, .tc-systray .tc-systray-item .tc-icon .cls-2 {
  fill: #414141;
}
.tc-systray .tc-tab-active {
  background-color: #782B90;
  color: #FFFFFF;
}
.tc-systray .tc-tab-active .tc-icon .cls-1, .tc-systray .tc-tab-active .tc-icon .cls-2 {
  fill: #FFFFFF;
}
.tc-systray .tc-bottomactions .btn {
  margin: 11px 0;
  font: 500 12px/12px "Inter", sans-serif;
}
.tc-systray .tc-tab-count {
  color: #5F5F5F;
  background-color: #F1F1F1;
  border-radius: 13px;
}
.tc-systray .tc-tab-count .tc-icon {
  fill: #5F5F5F;
  margin-left: 5px;
}
.tc-systray .tc-tab-count:hover, .tc-systray .tc-tab-count:focus {
  background-color: #782B90;
  color: #FFFFFF;
}
.tc-systray .tc-tab-count:hover .tc-icon, .tc-systray .tc-tab-count:focus .tc-icon {
  fill: #FFFFFF;
}
.tc-systray .tc-clear-all:hover, .tc-systray .tc-clear-all:focus {
  color: #782B90;
  text-decoration: underline;
}

.tc-thentia-top-spacer {
  height: 48px;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 8px;
}

.tc-button-close-leftpane {
  width: 100%;
  border: none;
  text-transform: uppercase;
  height: 48px;
  padding: 0 24px;
}

.tc-button-close-leftpane .tc-button-label {
  font: 400 10px/24px "Inter", sans-serif;
  letter-spacing: 2px;
}
.tc-button-close-leftpane .tc-button-icon {
  height: 24px;
  margin-top: -2px;
}

.tc-rec-nav-link {
  display: block;
  width: 100%;
  text-align: left;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0 24px;
  font: 600 14px/28px "Inter", sans-serif;
  color: #414141;
}
.tc-rec-nav-link:hover {
  color: #782B90;
  background: #ECECEC;
}

.tc-rec-nav-link.active {
  background: #ECECEC;
  color: #782B90;
}
.tc-rec-nav-link.active::before {
  content: "";
  border-left: 2px solid #782B90;
  margin: 0 20px 0 -24px;
  padding: 6px 0;
}

.tc-rec-nav-sublink {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  padding: 0 24px;
  font: 400 14px/28px "Inter", sans-serif;
  text-decoration: none;
  color: #414141;
}
.tc-rec-nav-sublink:hover {
  color: #782B90;
  background: #ECECEC;
}

.tc-rec-nav-sublink .tc-sublink-count {
  font: 500 12px/16px "Inter", sans-serif;
  padding-left: 8px;
}

.tc-rec-nav-sublink.active {
  color: #782B90;
  background-color: #ECECEC;
}
.tc-rec-nav-sublink.active::before {
  content: " ";
  display: block;
  border-left: 4px solid purple;
  height: 28px;
  position: absolute;
  left: 0;
}

.tc-rec-nav-seperator {
  margin: 8px 24px;
  display: block;
  border-bottom: 1px solid #DEDEDE;
}

.tc-nav-title .tc-svg-icon {
  margin-right: 4px;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: 768px;
}

form.container {
  margin-left: 0;
}

.tc-rightpane h1 {
  font: 600 24px/32px "Inter", sans-serif;
}
.tc-rightpane h1::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid;
  margin: 8px 0 29px 0;
}

h1.tc-platform-page-title {
  font: 500 24px/40px "Inter", sans-serif;
  color: #414141;
  padding: 8px 0;
  margin: 8px 0;
}

h2 {
  font: 500 18px/20px "Inter", sans-serif;
  border-left: 2px solid;
  margin: 2px 0 26px;
  padding-left: 8px;
}

p {
  font: 400 16px/24px "Inter", sans-serif;
}

p.body-small {
  font: 400 12px/16px "Inter", sans-serif;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #297BDE;
}

.btn-primary:hover {
  background-color: #0A55B7;
}

.btn-primary:focus {
  background-color: #002E6D;
  box-shadow: 0 0 2px #0A55B7;
}

.btn-secondary {
  background: none;
  border-color: #297BDE;
  color: #297BDE;
}

.btn-secondary:hover {
  background-color: #297BDE;
  border-color: #297BDE;
  color: #FFFFFF;
}

.btn-secondary:focus {
  background-color: #0A55B7;
  box-shadow: 0 0 2px #0A55B7;
}

.btn-tertiary {
  color: #297BDE;
  text-decoration: none;
}

.btn-tertiary:hover {
  background-color: #ECECEC;
  color: #297BDE;
}

.btn-tertiary:focus {
  background-color: #DEDEDE;
  color: #002E6D;
  box-shadow: none;
}

.btn-ghost {
  background: none;
  color: #414141;
  text-decoration: none;
}

.btn-ghost:hover {
  color: #297BDE;
  text-decoration: underline;
}

.btn-ghost:focus {
  background-color: #DEDEDE;
  box-shadow: none;
}

svg.icon20 {
  position: relative;
  top: -2px;
}

button svg.icon20.iconLeft {
  margin-right: 4px;
}

button svg.icon20.iconRight {
  margin-left: 4px;
}

.badge {
  padding: 6px 8px;
}

.tc-badge-large {
  font: 500 16px/24px "Inter", sans-serif;
  padding: 3px 8px;
}

.tc-badge-neutral {
  border: 1px solid #939393;
  color: #939393;
}

.tc-badge-caution {
  border: 1px solid #D59B24;
  color: #D59B24;
}

.tc-badge-positive {
  border: 1px solid #217B4D;
  color: #217B4D;
}

.tc-badge-negative {
  border: 1px solid #D32F3F;
  color: #D32F3F;
}

.tc-badge-purple {
  border: 1px solid #893FA0;
  color: #893FA0;
}

.tc-badge-blue {
  border: 1px solid #297BDE;
  color: #297BDE;
}

.tc-badge-teal {
  border: 1px solid #3A7B7D;
  color: #3A7B7D;
}

.tc-badge-pink {
  border: 1px solid #F589C8;
  color: #F589C8;
}

.toast-container {
  position: fixed;
  right: 0;
  top: 80px;
  margin-bottom: 56px;
}

.toast {
  border: none;
  border-left: 4px solid;
  border-radius: 0;
}
.toast .toast-header {
  border: none;
  padding: 8px 16px;
}
.toast .toast-header .tc-icon {
  margin-right: 12px;
}
.toast .toast-header .tc-toast-title {
  font: 600 16px/24px "Inter", sans-serif;
  color: #414141;
}
.toast .toast-body {
  font: 400 14px/22px "Inter", sans-serif;
  padding: 0 16px 8px 48px;
}
.toast .toast-body .body-small {
  margin: 8px 0 0 0;
}

.tc-toast-info {
  border-color: #939393;
}
.tc-toast-info .toast-header .tc-icon {
  fill: #939393;
}

.tc-toast-success {
  border-color: #217B4D;
}
.tc-toast-success .toast-header .tc-icon {
  fill: #217B4D;
}

.tc-toast-error {
  border-color: #D32F3F;
}
.tc-toast-error .toast-header .tc-icon {
  fill: #D32F3F;
}

.tc-toast-caution {
  border-color: #FCB932;
}
.tc-toast-caution .toast-header .tc-icon {
  fill: #FCB932;
}

.required-statement {
  color: #939393;
  margin-bottom: 24px;
}

.required-statement .required, .form-label .required, .radio-question .required, .form-group .required {
  color: #D32F3F;
}

.form-group select {
  background-image: url("../svg/chevron--down.svg");
  background-repeat: no-repeat;
}
.form-group .tc-select {
  background-position: bottom 15px right 20px;
}
.form-group .tc-select-configure {
  background-position: bottom 15px right 66px;
}
.form-group .btn-configure {
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 4px 16px 4px 0;
}
.form-group .btn-configure::before {
  content: "";
  border-left: 1px solid #D5D5D5;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 12px;
}
.form-group .btn-configure .tc-icon {
  margin-bottom: 4px;
}
.form-group .btn-configure:hover .tc-icon, .form-group .btn-configure:focus .tc-icon {
  fill: #782B90;
}
.form-group .btn-configure:visited .tc-icon {
  fill: #5C3768;
}

.form-label {
  font: 500 12px/16px "Inter", sans-serif;
}

.form-control {
  background-color: #FAFAFA;
  border: none;
  box-sizing: border-box;
  border-radius: 0px;
  font: 400 14px/16px "Inter", sans-serif;
  padding: 12px 16px;
}
.form-control:not(:placeholder-shown) {
  border-bottom: 1px solid #414141;
}
.form-control:placeholder-shown {
  border-bottom: 1px solid #939393;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #AD71C0;
  padding: 10px 16px 11px;
}

.form-text, .form-text * {
  font: 400 12px/16px "Inter", sans-serif;
}

.form-text ul {
  margin-top: 8px;
  padding: 0 16px 0 23px;
}
.form-text ul li {
  line-height: 20px;
}
.form-text ul .success {
  list-style-image: url("../svg/16/checkmark--success.svg");
  line-height: 16px;
}
.form-text ul .error {
  list-style-image: url("../svg/16/close--error.svg");
  line-height: 16px;
}

.form-check-label {
  font: 400 16px/24px "Inter", sans-serif;
}

.form-check-input[type=checkbox] {
  border-radius: 2px;
  border: 1px solid #782B90;
}
.form-check-input[type=checkbox]:focus {
  -webkit-box-shadow: 0 0 4px #782B90;
  box-shadow: 0 0 4px #782B90;
}
.form-check-input[type=checkbox]:checked {
  background-color: #782B90;
}

.checkbox-text {
  margin: 0 0 0 21px;
}

.form-check-inline {
  padding-top: 4px;
}

.tox.tox-tinymce {
  border-radius: 0;
  border: none;
}

.tox .tox-statusbar {
  border-top: 1px solid #E6E6E6 !important;
  border-bottom: 1px solid;
  background-color: #F7F7F7 !important;
}

.tox .tox-toolbar__primary, .tox .tox-edit-area__iframe {
  background-color: #F7F7F7 !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
  padding: 0 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #E6E6E6 !important;
}

span.tox-statusbar__branding {
  display: none;
}

.tc-titlebar-btn {
  color: #414141;
  text-decoration: none;
  margin: 17px 8px;
}
.tc-titlebar-btn .tc-icon {
  margin: -3px 4px 0 0;
}
.tc-titlebar-btn:hover {
  color: #782B90;
}
.tc-titlebar-btn:hover .tc-icon {
  fill: #782B90;
}

svg.icon20 {
  position: relative;
  top: -2px;
}

button svg.icon20.iconLeft {
  margin-right: 4px;
}

button svg.icon20.iconRight {
  margin-left: 4px;
}

.radio-question, .tc-check-question {
  font: 400 16px/24px "Inter", sans-serif;
  margin-bottom: 0;
}

.radio-question.legend-small, .tc-check-question.legend-small {
  font: 400 12px/16px "Inter", sans-serif;
}

.tc-radioset .container, .tc-checkset .container {
  margin-top: 8px;
}

.form-check-input[type=radio] {
  position: relative;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #782B90;
}
.form-check-input[type=radio]::before {
  position: relative;
  top: -1px;
  left: -1px;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid #782B90;
  border-radius: 100%;
}
.form-check-input[type=radio]:checked {
  background: #FFFFFF;
  position: relative;
  -webkit-box-shadow: 0 0 4px #782B90;
  box-shadow: 0 0 4px #782B90;
}
.form-check-input[type=radio]:checked::before {
  position: relative;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 6px;
  background: #782B90;
}
.form-check-input[type=radio]:checked::after {
  width: 2px;
  height: 2px;
}

.datepicker td, .datepicker th {
  text-align: center;
  padding: 8px 12px;
  font-size: 16px;
}
.datepicker .td-active {
  background-color: #782B90;
}

.select-placeholder {
  display: none;
}

.chosen-container {
  font: 400 14px/22px "Inter", sans-serif;
}

.chosen-container-active .chosen-choices {
  border: 2px solid #AD71C0;
  padding: 4px 16px 5px;
}

ul.chosen-choices {
  padding: 6px 16px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #414141;
  margin-bottom: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
  color: #939393;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #782B90;
  color: #FFFFFF;
}

.file-drop-area {
  text-align: center;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 24px;
  margin-bottom: 8px;
  border: 1px dashed #A8A8A8;
  transition: 0.2s;
}
.file-drop-area:hover {
  border-color: #782B90;
  background-color: #FAFAFA;
  color: #782B90;
}

.file-message {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.file-help, .file-message {
  color: #414141;
}

.file-uploaded {
  display: inline-block;
  background-color: #FAFAFA;
  width: fit-content;
  margin: 0 8px 8px 0;
}

.file-uploaded .fileName {
  padding: 0 16px;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #D32F3F;
  color: #D32F3F;
  background-image: url("../svg/16/warning--filled-red.svg");
}

.is-invalid .tox-statusbar {
  border-bottom: 1px solid #D32F3F;
}
.is-invalid .tox.tox-tinymce::before {
  content: " ";
  background-image: url("../svg/16/warning--filled-red.svg");
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  right: 8px;
  z-index: 1000;
}

.tc-radioset.is-invalid, .tc-check-group.is-invalid, .tc-checkset.is-invalid {
  border: 1px solid #D32F3F;
  margin: -8px;
  padding: 8px 36px 8px 8px;
  background: #FFFAFA url("../svg/16/warning--filled-red.svg") no-repeat right 8px top 8px;
}

.invalid-feedback {
  font: 400 12px/12px "Inter", sans-serif;
}

.tc-check-group .invalid-feedback {
  margin-left: 21px;
}

.tc-mt-48 {
  margin-top: 48px;
}

.tc-bg-neutral {
  background-color: #ECECEC;
}

.tc-bg-caution {
  background-color: #FDEAAF;
}

.tc-bg-positive {
  background-color: #E6FCF1;
}

.tc-bg-negative {
  background-color: #FFD1D5;
}

.tc-bg-purple {
  background-color: #E8D9ED;
}

.tc-bg-blue {
  background-color: #D1F0FE;
}

.tc-bg-teal {
  background-color: #C0E8E7;
}

.tc-bg-pink {
  background-color: #F589C8;
}

.text-dark {
  color: #414141;
}

.tc-icon {
  fill: #414141;
}
.tc-icon .st0 {
  fill: none;
}
.tc-icon .st1 {
  opacity: 0;
  fill-opacity: 0;
}
.tc-icon .cls-1 {
  fill: none;
}

.tc-icon16 {
  width: 16px;
  height: 16px;
}

.tc-icon20 {
  width: 20px;
  height: 20px;
}

@media (max-width: 992px) {
  .tc-flexcontainer {
    display: block;
  }
  .tc-leftpane {
    width: 100%;
  }
}

/*# sourceMappingURL=cirrus.css.map */
